In [10]:
import os
import pandas as pd
dataset_name = 'en'
title_top10_occupation = pd.read_csv(f'../step3-bert/outputs/{dataset_name}/title_top10_occupation.csv', sep='\t')
title_top10_occupation['title'] = title_top10_occupation['title'].apply(lambda x: x.strip(' '))
title_top10_occupation['occupation_candidate'] = title_top10_occupation.apply(lambda x: [x[f"occupation{i}"] for i in range(10)], axis=1)
title_top10_occupation['occupation_sim'] = title_top10_occupation.apply(lambda x: sum([x[f"occupation{i}_sim"] for i in range(10)]) / 10, axis=1)
title_top10_occupation = title_top10_occupation[['title',  'occupation_candidate', 'occupation_sim']]
# for seed in range(5):
#     if not os.path.exists(f'data/{dataset_name}/seed{seed}/input0'):
#         os.makedirs(f'data/{dataset_name}/seed{seed}/input0')
#     title_top10_occupation.to_parquet(f'data/{dataset_name}/seed{seed}/input0/occupation_candidate.parquet')
title_top10_occupation

,title,occupation_candidate,occupation_sim
0,Marketing Coordinator,"[Sales Engineers, Sales Managers, Fundraising ...",0.855350
1,Mental Health Therapist/Counselor,"[Mental Health Counselors, Rehabilitation Coun...",0.875879
2,Assitant Restaurant Manager,"[Cooks, Restaurant, Travel Agents, Chefs and H...",0.806461
3,Senior Elder Law / Trusts and Estates Associat...,"[Paralegals and Legal Assistants, Regulatory A...",0.797439
4,Service Technician,"[Driver/Sales Workers, Chemical Technicians, L...",0.866882
...,...,...,...
72516,Senior Frontend/App Developer,"[Customer Service Representatives, Project Man...",0.814547
72517,Title IX/Investigations Attorney,"[Office Clerks, General, Information and Recor...",0.796418
72518,"Staff Software Engineer, ML Serving Platform","[Project Management Specialists, General and O...",0.819117
72519,"Account Executive, Oregon/Washington","[Office Clerks, General, Eligibility Interview...",0.785192
72520,Marketing Social Media Specialist,"[Search Marketing Strategists, Advertising and...",0.852618

In [11]:
title_top10_occupation = title_top10_occupation.sort_values('occupation_sim', ascending=False)
title_top10_occupation.to_excel(f'data/{dataset_name}/occupation_candidate.xlsx', index=None)