In [1]:
import pandas as pd
import os

dataset_name = 'eu'
seed=0
result_dir = f'results/{dataset_name}/seed{seed}'
final_ans=[]
for i in range(len(os.listdir(result_dir))):
    df = pd.read_parquet(f"{result_dir}/result{i}.parquet")
    final_ans.append(df)
final_ans = pd.concat(final_ans)
final_ans = final_ans[['title', 'occupation']].drop_duplicates('title')
# final_ans.to_excel(f"{result_dir}.xlsx", index=None)
final_ans.to_parquet(f"{result_dir}.parquet", index=None)
final_ans

,title,occupation
0,Senior / Medical Writer (Regulatory),Regulatory Affairs Managers
0,Manager of Biometrics,Regulatory Affairs Managers
0,Field Service Engineer | Chromatography,Mechatronics Engineers
0,Data Manager of Project Management,Project Management Specialists
0,Strategic Market Analyst,Business Intelligence Analysts
...,...,...
4,Trainee or Experienced Medical Pharma Sales Re...,"Sales Representatives, Wholesale and Manufactu..."
4,"GP Pharma Primary Care Medical Sales Rep, Norfolk","Sales Representatives, Wholesale and Manufactu..."
0,Senior Regulatory Affairs Associate x2,Regulatory Affairs Managers
1,Are You a Post Doctoral Fellow? Medical Writer...,"Biological Science Teachers, Postsecondary"
1,Drug Safety Associate Scotland,Regulatory Affairs Specialists

In [2]:
task_topkoccupation = pd.read_parquet(f'data/{dataset_name}/seed{seed}/input0/occupation_candidate.parquet')[['title', 'occupation_sim']]
task_topkoccupation

                                                  title  occupation_sim
0                  Senior / Medical Writer (Regulatory)        0.810433
1                                 Manager of Biometrics        0.793866
2               Field Service Engineer | Chromatography        0.797475
3                    Data Manager of Project Management        0.858149
4                              Strategic Market Analyst        0.890617
...                                                 ...             ...
2000  Director / Associate Director, Statistical Pro...        0.777730
2001               Biotechnology Expert for Data Review        0.802132
2002                                Senior Site Manager        0.836580
2003       Contract CSV Engineer, Global Pharma Company        0.743517
2004                                           Engineer        0.791824

[2005 rows x 2 columns]

In [3]:
final_ans = pd.merge(final_ans, task_topkoccupation, on=['title']).sort_values(['occupation_sim', 'occupation'], ascending=[False, False])
topk = 100
# final_ans[:topk].to_excel(f'results/{dataset_name}/seed{seed}_top{topk}.xlsx', index=None)
final_ans

,title,occupation,occupation_sim
185,Project Managers,Project Management Specialists,0.919106
1032,Research Analysts,Business Intelligence Analysts,0.914074
597,Business Performance Analyst,Business Intelligence Analysts,0.904860
964,Quality Analyst,Quality Control Analysts,0.904092
1233,Quality Control Specialist,Quality Control Analysts,0.902716
...,...,...,...
1704,Quality Engineer Medical (m / w) im Kanton St....,"Low Vision Therapists, Orientation and Mobilit...",0.526516
432,Quality / Risk Manager (m / w) in der Zentrals...,"First-Line Supervisors of Helpers, Laborers, a...",0.518447
930,Opportunita' imperdibile per un Senior Scientist!,"Engineering Technologists and Technicians, Exc...",0.513041
1633,Qualified Person (QP),"Education Administrators, Kindergarten through...",0.484229
1459,Leiter der Herstellung nach (§12 AMWHV),"Molders, Shapers, and Casters, Except Metal an...",0.454666